﻿div {
	padding: 2%;
}

a:link, a:visited {
    background-color: #B6A88B;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #A6997E;
}

.button {
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#rectangle {
	margin: 0 auto;
    width: 50%;
	height: 50%;
	text-align: center;
	border: solid #B6A88B;
	background-color: #DCD0B8;
	padding: 3%;
}
