.message {
	display: none;
}

#rectangle {
	margin: 0 auto;
    width: 50%;
	height: 50%;
	text-align: center;
	border: solid #B6A88B;
	background-color: #DCD0B8;
	padding: 3%;
}

table {
	margin: 0 auto;
}