label,
button {
	display: block;
	margin-top: 15px;
}

.message {
	display: none;
}

#reservationForm, #submitReservation, #reservation-successful-message {
	margin: 0 auto;
    width: 50%;
	height: 50%;
	text-align: center;
	border: solid #B6A88B;
	background-color: #DCD0B8;
	padding: 3%;
}

#submitReservation {
	background-color: #B6A88B;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: 'Cinzel', serif;
}
