@CHARSET "ISO-8859-1";

body {
	background-image: url("elements/background.jpg");
	font-family: 'Cinzel', serif;
	font-style: bold;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    background-color: #B6A88B;
    width: 50%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #A6997E;
}
